@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seymour+One&display=swap');
.title{
    height: 40px;
    width: 40px;}
.myform{
    align-items: center;
    }
.user{
    color:white;
    height: 35px;
    width: 35px;
    margin: 0 20px;
    border-radius: 50%; 
    border: 2px solid black;
    padding: 2px 10px;
    background-color: black;
    transition: 0.5s;
}
.user:hover{
    background-color: transparent;
    color: black;
}
.signup{
    padding: 5px 30px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}
.signup:hover{
    background-color: transparent;
    color: black;
}




.intro{
    background:
    linear-gradient(to bottom,
    rgba(0, 0, 255, 0.551),
    rgba(189, 189, 199, 0.214));}
.one{
    display: flex;
    justify-content: center;
    align-items: center;}
.part1{
    margin: 50px 0;
    width: 70%;
    /* background-color: yellow; */}
.part1 h1{
    font-family: Seymour One;
    font-size: 45px;
    text-shadow: 3px 3px 10px rgba(144, 105, 105, 0.773);}
.part1 p{
    font-family: Poppins;
    font-weight: 500;}
.part1 button{
    padding: 6px 20px;
    font-size: 16px;
    font-family: Josefin Sans;
    border-radius: 10px;
    border: 3px solid black;
    background-color: black;
    color: white;
    transition: 0.5s;
    font-weight: 600;
}
.part1 button:hover{
    background-color: transparent;
    color: black;
}
.bluelays{
    height: 300px;
}
.info h1{
    font-family: poppins;
    font-weight: 800;
    margin: 70px 70px 0 70px;
    margin-bottom: 70px;
}
.box{
    height: 300px;
    width: 350px;
    background-color: pink;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 50px 5px 25px;}
.new1{
    display: flex;
    align-items: center;
    justify-content: center;}
.box img{
    height: 120%;
    position: absolute;
    top: -80px;}

.details{
    display: flex;
    justify-content: center;
}
.contents{
    width: 70%;
    font-family: poppins;
}
.contents img{
    height: 150px;
}
.contents h3{
    font-weight: 700;
}
.star ion-icon{
    color: rgb(133, 133, 53);   
}
.buttons button{
    margin-right: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 3px solid black;
    background-color: transparent;
    transition: 0.5s;
}
.buttons button:hover{
    background-color: black;
    color: white;
}
.products{
    margin: 50px 80px;
}
.head{
    margin: 80px 0;
}
.head h1{
    font-family: Poppins;
    text-align: center;
    font-weight: 600;
}
.head p{
    font-family:Poppins ;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.prod_box{
    height: 230px;
    width: 230px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ring1{
    height: 100%;
    width: 100%;
    border: 20px solid rgba(0, 255, 64, 0.597);
    border-radius: 50%;
    position: absolute;}
.ring2{
    height: 75%;
    width:75%;
    border: 20px solid rgba(92, 128, 0, 0.259);
    border-radius: 50%;
    position: absolute
}
.prod_box img{
    height:98%;
    position: absolute;
    top: -50px;}

.prod_price{
    font-family: Poppins;
    font-weight: 600;
}
.prod_info{
    font-family: Poppins;
    font-size: 14px;
}
.buy{
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
    margin-bottom: 60px;
}
.buy:hover{
    background-color: black;
    color: white;
}
.col{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 50px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mycol{
    height: 480px;
    border: 3px solid black;
}
.prod_box1{
    background-color: yellow;
}
.prod_box2{
    background-color: rgba(255, 85, 0, 0.477);
}
.prod_box3{
    background-color: rgb(143, 167, 205);
}
.prod_box4{
    background-color: rgb(237, 104, 130);
}
.prod_box5{
    background-color: rgb(218, 142, 218);
}
.prod_box6{
    background-color: yellow;
}
.prod_box7{
    background-color: rgb(131, 131, 67);
}
